<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="layout">
    <main class="content">
        <section class="card">
            <h1>Iniciar Sesión</h1>

            <form class="form-grid" id="loginForm">
                <input type="text" id="loginUsername" placeholder="Username" required>
                <input type="password" id="loginPassword" placeholder="Password" required>
                <button type="submit">Entrar</button>
            </form>

            <p style="margin-top: 15px;">
                ¿No tienes cuenta?
                <a th:href="@{/registro}" style="color:#38bdf8; font-weight:bold;">Crear cuenta</a>
            </p>
        </section>
    </main>
</div>

<script th:src="@{/js/login.js}"></script>
</body>
</html>