<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Cuenta</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="layout">
    <main class="content">
        <section class="card">
            <h1>Crear Cuenta</h1>

            <form class="form-grid" id="registroForm">
                <input type="email" id="emailUsuario" placeholder="Correo electrónico" required>
                <input type="text" id="usernameUsuario" placeholder="Nombre de usuario" required>
                <input type="password" id="passwordUsuario" placeholder="Contraseña" required>
                <button type="submit">Crear cuenta</button>
            </form>

            <p style="margin-top: 15px;">
                ¿Ya tienes cuenta?
                <a th:href="@{/login}" style="color:#38bdf8; font-weight:bold;">Iniciar sesión</a>
            </p>
        </section>
    </main>
</div>

<script th:src="@{/js/registro.js}"></script>
</body>
</html>